.container {
  width: 33%;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  background-color: rgba(129, 228, 220, 0.3);
}

.header {
  display: flex;
  justify-content: center;
}

.header a {
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px;
  font-size: 13px;
}

.header a:hover {
  color: black;
  background-color: white;
}

.goBack {
  position: absolute;
  right: 5px;
  top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 10px auto 5px;
  font-weight: bold;
}

.btn {
  margin: 25px 0 10px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: 4px;
  height: 30px;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}
